# Python cache
__pycache__/
*.pyc

# Environment
.env
venv/
.venv/

# Database
instance/database.db
instance/database.db-shm
instance/database.db-wal
instance/database_backup*.db
*.sqlite3
*.db

# Uploads
static/uploads/

# IDE
.vscode/

# Logs
*.log

# Backup
*.sql
backup_*.sql

# OS
.DS_Store
Thumbs.db